# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env-dev
config.json

# Logs
logs/
*.log

# IDE/Editor
.vscode/

# Build
/dist/
/build/

# Database
*.sql
*.sqlite

# Mock Data
data/
